<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Caméra & Stockage -->
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

  <!-- Téléphone -->
  <uses-permission android:name="android.permission.CALL_PHONE" />

  <!-- Internet & Réseau -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <!-- Notifications -->
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
      android:label="fouquet"
      android:name="${applicationName}"
      android:icon="@mipmap/ic_launcher">
      <activity
          android:name=".MainActivity"
          android:exported="true"
          android:launchMode="singleTop"
          android:taskAffinity=""
          android:theme="@style/LaunchTheme"
          android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
          android:hardwareAccelerated="true"
          android:windowSoftInputMode="adjustResize">
          <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
      <meta-data
          android:name="flutterEmbedding"
          android:value="2" />
  </application>

  <queries>
      <!-- Flutter ProcessText -->
      <intent>
          <action android:name="android.intent.action.PROCESS_TEXT" />
          <data android:mimeType="text/plain" />
      </intent>
      <!-- Liens HTTPS -->
      <intent>
          <action android:name="android.intent.action.VIEW" />
          <data android:scheme="https" />
      </intent>
      <!-- Appels téléphoniques -->
      <intent>
          <action android:name="android.intent.action.DIAL" />
          <data android:scheme="tel" />
      </intent>
      <intent>
          <action android:name="android.intent.action.CALL" />
      </intent>
      <!-- Apps tierces -->
      <package android:name="com.whatsapp" />
      <package android:name="com.facebook.katana" />
      <package android:name="com.instagram.android" />
      <package android:name="com.twitter.android" />
  </queries>

</manifest>